<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
	<package name="org.kosta.member.model"/>
	<package name="org.kosta.imageboard.domain"/>
	<package name="org.kosta.member.domain"/>   
	<package name="org.kosta.note.domain"/>
	<package name="org.kosta.messenger.domain"/>
	<package name="org.kosta.projectBoard.domain"/>
	<package name="org.kosta.projectChecklist.domain"/>
	</typeAliases>
	
	
</configuration>










