<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.kosta.erd.ErdMapper">
	<cache />
	
<update id="save" parameterType="String">
	update erd set erd_content = #{erd_content}
		where erd_id = ( select check_content from checklist where check_id = #{check_id} )
</update>

<select id="load" parameterType="int" resultType="String">
	select erd_content from erd where erd_id = ( select check_content from checklist where check_id = #{check_id} )
</select>

<insert id="create">
	insert into erd values( nvl((select max(erd_id) from erd)+1, 0), null )
</insert>

<select id="maxId" resultType="Integer">
	select max(erd_id) from erd
</select>

</mapper>