<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.kosta.uml.UmlMapper">
	<cache />
	

	
<update id="save">
	update uml set uml_content = #{uml_content}
		where uml_id = ( select check_content from checklist where check_id = #{check_id} )
</update>

<select id="load" parameterType="int" resultType="String">
	select uml_content from uml where uml_id = ( select check_content from checklist where check_id = #{check_id} )
</select>

<insert id="create">
	insert into uml values( nvl((select max(uml_id) from uml)+1, 0), null )
</insert>

<select id="maxId" resultType="Integer">
	select max(uml_id) from uml
</select>

</mapper>