<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.kosta.usecase.UsecaseMapper">
	<cache />
	
<update id="save">
	update usecase set usecase_content = #{usecase_content}
		where usecase_id = ( select check_content from checklist where check_id = #{check_id} )
</update>

<select id="load" parameterType="int" resultType="String">
	select usecase_content from usecase where usecase_id = ( select check_content from checklist where check_id = #{check_id} )
</select>

<insert id="create">
	insert into usecase values( nvl((select max(usecase_id) from usecase)+1, 0), null )
</insert>

<select id="maxId" resultType="Integer">
	select max(usecase_id) from usecase
</select>

</mapper>