<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>채팅</title>
<meta name="viewport" content="width=device-width, initial-scale = 1" />
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<script
	src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.7.1.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
	$(document).ready(function() {

//		var room = prompt('방 이름을 입력하세요.', 'kosta');
		var socket = io.connect();

//		socket.emit('room', room);

		//채팅내역 가져오기 버튼
		$(document).on('click', '.btn button', function() {
			$('.top').empty();
			socket.emit('breakdown');
		})

		//대화내용 가져오기
		socket.on('preload', function(data) {
			if (data.roomname == $('#room').val()) {
				var output = '';
				output += '<div class="chatList">';
				output += '<div class="chat">';		
				output += '<strong>' + data.name + '</strong> : ';
				output += data.message + '</div></div>';
				$('.top').append(output);
			}
			$('.top').scrollTop(9999);
		});
		
		
		/* 
		//보내기버튼 클릭
		$('#button').click(function() {	//보내기버튼 없애버림
			socket.emit('message', {
				name : $('#name').val(),
				message : $('#message').val(),
				roomname : room
			});
			$('#message').val('');
		});
 */
		
		//엔터키 누름 
		$('#message').keydown(function(e) {
			if (e.which == 13) {/* 13 == enter key@ascii */
				socket.emit('message', {
					name : $('#name').val(),
					message : $('#message').val(),
					roomname : $('#room').val()
				});
				$('#message').val('');
			}
		});

		//채팅내역 표시
		socket.on('message', function(data) {
			if (data.roomname == $('#room').val()) {
				var output = '';
				output += '<div class="chatList">';
				output += '<div class="chat">';		
				output += '<strong>' + data.name + '</strong> : ';
				output += data.message + '</div></div>';
				$('.top').append(output);
				$('.top').scrollTop(9999);
			}
		});

		socket.on('nameSet', function(data) {
			$('#name').val(data);
		})

		socket.on('roomSet', function(data) {
			$('#room').val(data);
		})

	});
</script>

<style type="text/css">

.chatArea {
	position:absolute;
	z-index: 999;
}

.top {
	position: fixed;
	width: 100%;
	height: 70%;
	overflow:auto;
	background-color : white;
}

.bottom {
	position: fixed;
	left: 0;
	bottom: 0;
	height : 20%;
	width: 100%;
	display:inline-block;
}
</style>

</head>

<body style="background: #e6e8e8;">
	<div class="chatArea">
	
		<div class="form-group">
			<input type="hidden" id="name"  />
			<input type="hidden" id="room" />
		</div>
		
		<div class="top" style="background: #e6e8e8;">
		</div>

		<div class="bottom">
			<div class="form-group">
				<input type="text" class="form-control" id="message" placeholder="Message" />
			</div>
			<div class="btn">
				<button>가져오기</button>
			</div>
		</div>
	</div>
</body>
</html>